<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd">
<suite name="SeleniumJordan" verbose ="1" parallel="true" thread-count="5">
 <test name="RCtest" >
   <parameter name="dataIndex" value="1">
 <parameter name="platform" value="WIN8_1" />
 <parameter name="seleniumHost" value="http://127.0.0.1:5556/wd/hub" />   
 <parameter name="bs" value="firefox" />  
     <classes>
       <class name="com.cdp.Test">
         <methods preserve-order="true">
            <include name="login" />
            <include name="enterTimeMenu" />
            <include name="enterSalaryMenu" />
            <include name="logOut" />
         </methods>
       </class>
     </classes>
   </parameter>
 </test>
  <test name="RCtest2" >
   <parameter name="dataIndex" value="1">
 <parameter name="platform" value="WIN8_1" />
 <parameter name="seleniumHost" value="http://127.0.0.1:5555/wd/hub" />   
 <parameter name="bs" value="chrome" />  
     <classes>
       <class name="com.cdp.Test">
         <methods preserve-order="true">
            <include name="login" />
            <include name="enterTimeMenu" />
            <include name="enterSalaryMenu" />
            <include name="logOut" />
         </methods>
       </class>
     </classes>
   </parameter>
 </test>
</suite>